span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

.jumbotron {
    /* background-color: aqua; */
    border-bottom: 1px solid ;
}

.footer {
    border-top: 1px solid;
    margin-top: 2rem;
    padding: 25px
}

